In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as msno
import datetime as dt

In [2]:
# Read in the datasetnet
h1n1 = pd.read_csv("training_set_features.csv", sep=",")
features = pd.read_csv("features_explained.csv", sep=",", names=['Feature','Explain','Measure'])

In [3]:
for sp in range(0, len(features)):
    pattern = (28 - len(features['Feature'][sp])) * ' '
    print(features['Feature'][sp], pattern, ':', features['Explain'][sp])

h1n1_concern                  :  Level of concern about the H1N1 flu.
h1n1_knowledge                :  Level of knowledge about H1N1 flu.
behavioral_antiviral_meds     :  Has taken antiviral medications.
behavioral_avoidance          :  Has avoided close contact with others with flu like symptoms.
behavioral_face_mask          :  Has bought a face mask.
behavioral_wash_hands         :  Has frequently washed hands or used hand sanitizer.
behavioral_large_gatherings   :  Has reduced time at large gatherings.
behavioral_outside_home       :  Has reduced contact with people outside of own household.
behavioral_touch_face         :  Has avoided touching eyes, nose, or mouth.
doctor_recc_h1n1              :  H1N1 flu vaccine was recommended by doctor.
doctor_recc_seasonal          :  Seasonal flu vaccine was recommended by doctor.
chronic_med_condition         :  Has any of the following chronic medical conditions
child_under_6_months          :  Has regular close contact with a child under the age of six months.
health_worker                 :  Is a healthcare worker.
health_insurance              :  Has health insurance.
opinion_h1n1_vacc_effective   :  Respondent's opinion about H1N1 vaccine effectiveness.
opinion_h1n1_risk             :  Respondent's opinion about risk of getting sick with H1N1 flu without vaccine.
opinion_h1n1_sick_from_vacc   :  Respondent's worry of getting sick from taking H1N1 vaccine.
opinion_seas_vacc_effective   :  Respondent's opinion about seasonal flu vaccine effectiveness.
opinion_seas_risk             :  Respondent's opinion about risk of getting sick with seasonal flu without vaccine.
opinion_seas_sick_from_vacc   :  Respondent's worry of getting sick from taking seasonal flu vaccine.
age_group                     :  Age group of respondent.
education                     :  Self reported education level.
race                          :  Race of respondent.
sex                           :  Sex of respondent.
income_poverty                :  Household annual income of respondent with respect to 2008 Census poverty thresholds.
marital_status                :  Marital status of respondent.
rent_or_own                   :  Housing situation of respondent.
employment_status             :  Employment status of respondent.
hhs_geo_region                :  Respondent's residence using a 10 region geographic classification defined by the U.S. Dept. of Health and Human Services. Values are represented as short random character strings.
census_msa                    :  Respondent's residence within metropolitan statistical areas (MSA) as defined by the U.S. Census.
household_adults              :  Number of other adults in household, top
household_children            :  Number of children in household, top coded to 3.
employment_industry           :  Type of industry respondent is employed in. Values are represented as short random character strings.
employment_occupation         :  Type of occupation of respondent. Values are represented as short random character strings.

In [7]:
for sp in range(1,21):
    h1n1.iloc[:,sp] = h1n1.iloc[:,sp].astype(str)
    h1n1.iloc[:,sp] = h1n1.iloc[:,sp].str.replace(".0", "")

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [8]:
h1n1.isna().sum()

respondent_id                      0
h1n1_concern                      92
h1n1_knowledge                   116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [10]:
h1n1.health_insurance
pd.value_counts(h1n1.health_insurance).to_frame().reset_index()

   index  health_insurance
0    1.0             12697
1    0.0              1736

In [16]:
h1n1["h1n1_concern"] = h1n1["h1n1_concern"].str.replace("nan", "2")

In [17]:
frecuency_table_h1n1_concern = pd.value_counts(h1n1.h1n1_concern).to_frame().reset_index()
frecuency_table_h1n1_concern

  index  h1n1_concern
0     2         10667
1     1          8153
2     3          4591
3     0          3296

In [8]:
frecuency_table_h1n1_knowledge = pd.value_counts(h1n1.h1n1_knowledge).to_frame().reset_index()
frecuency_table_h1n1_knowledge

  index  h1n1_knowledge
0     1           14598
1     2            9487
2     0            2506
3   nan             116

In [9]:
h1n1["h1n1_knowledge"] = h1n1["h1n1_knowledge"].str.replace("nan", "1")

In [10]:
frecuency_table_h1n1_knowledge = pd.value_counts(h1n1.h1n1_knowledge).to_frame().reset_index()
frecuency_table_h1n1_knowledge

  index  h1n1_knowledge
0     1           14714
1     2            9487
2     0            2506

In [14]:
frecuency_table_behavioral_antiviral_meds = pd.value_counts(h1n1.behavioral_antiviral_meds).to_frame().reset_index()
frecuency_table_behavioral_antiviral_meds

   index  behavioral_antiviral_meds
0  False                      25335
1   True                       1372

0        True
1        True
2        True
3        True
4        True
         ...
26702    True
26703    True
26704    True
26705    True
26706    True
Name: behavioral_avoidance, Length: 26707, dtype: bool

In [30]:
h1n1.head(21)

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1,0,False,True,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3,2,False,True,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1,1,False,True,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1,1,False,True,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2,1,False,True,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb
5,5,3,1,False,True,0.0,1.0,0.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,atmpeygn,"MSA, Principle City",2.0,3.0,saaquncn,vlluhbov
6,6,0,0,False,True,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",0.0,0.0,xicduogh,xtkaffoo
7,7,1,0,False,True,0.0,1.0,0.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,bhuqouqj,Non-MSA,2.0,0.0,pxcmvdjn,xqwwgdyp
8,8,0,2,False,True,0.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,bhuqouqj,"MSA, Not Principle City",1.0,0.0,xicduogh,ccgxvspp
9,9,2,1,False,True,0.0,0.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,"MSA, Not Principle City",0.0,0.0,NaN,NaN
10,10,2,1,False,True,0.0,1.0,1.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lzgpxyit,"MSA, Not Principle City",2.0,0.0,xicduogh,qxajmpny
11,11,1,2,False,True,0.0,1.0,0.0,0.0,0.0,...,"> $75,000",Married,Own,Employed,oxchjgsf,Non-MSA,1.0,2.0,xicduogh,ccgxvspp
12,12,1,1,False,True,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lzgpxyit,"MSA, Not Principle City",1.0,0.0,NaN,NaN
13,13,1,1,False,True,0.0,1.0,0.0,0.0,1.0,...,"> $75,000",Married,Own,Employed,lzgpxyit,"MSA, Not Principle City",1.0,2.0,ldnlellj,kldqjyjy
14,14,3,1,False,True,0.0,1.0,0.0,1.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,qufhixun,"MSA, Not Principle City",1.0,0.0,NaN,NaN
15,15,1,1,False,True,0.0,0.0,0.0,0.0,0.0,...,"> $75,000",Married,Own,Employed,lzgpxyit,"MSA, Not Principle City",1.0,3.0,wxleyezf,emcorrxb
16,16,2,1,False,True,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Married,NaN,Not in Labor Force,oxchjgsf,"MSA, Principle City",0.0,0.0,NaN,NaN
17,17,1,1,False,True,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,"MSA, Not Principle City",1.0,0.0,rucpziij,xtkaffoo
18,18,1,2,False,True,0.0,1.0,0.0,0.0,1.0,...,"> $75,000",Married,Own,Employed,oxchjgsf,Non-MSA,2.0,0.0,wlfvacwt,xgwztkwe
19,19,2,2,False,True,0.0,1.0,0.0,1.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lzgpxyit,"MSA, Not Principle City",1.0,0.0,NaN,NaN
20,20,3,1,False,True,1.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Not in Labor Force,qufhixun,"MSA, Principle City",0.0,0.0,NaN,NaN